.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 16px;
  display: flex;
  box-sizing: border-box;
  overflow: auto;
}

.item {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: inset 0 0 32px 0 #fff, 0 0 0 1px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  opacity: 1;
  user-select: none;
}

.hidden {
  transform: scale(0);
  opacity: 0;
}
